.main-content {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.devotional-text {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;}

a h3 { 
    color: rgba(0, 0, 0, 1);
    transition: color 0.2s ease-in-out;}

a h3:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.2s ease-in-out;}

@media only screen and (max-width: 1000px) {
    hr {
        margin: 5 auto;
    }
    a h3 { 
        width: 90vw;
        margin: 0 auto;}
}