.main-content {
    text-align: center;
    margin: 0 auto;}

.devotional-text {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;}

@media only screen and (max-width: 1000px) {
    hr {
        width: 90vw;
        margin: 5 auto;}

    a h3 { 
        width: 90vw;
        margin: 0 auto;}}

/* Form Button Options */
.devotional-form-buttons {
    display: flex;
    justify-content: space-evenly;}

.devotional-form-buttons input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: rgba(14, 14, 27, 0.9);
    flex-grow: 0.1;
    background: #d1d1d1;
    transition: background 0.2s ease-in-out;}

.devotional-form-buttons input:hover {
    background: #c7c7c7;
    transition: background 0.2s ease-in-out;
    color: rgba(14, 14, 27, 0.9);}

.devotional-form-buttons input:disabled {
    background: grey!important;
    color: rgba(14, 14, 27, 0.9);}