* {
    text-decoration: none!important;}

.main-content {
    width: 90%;
    text-align: center;
    margin: 0 auto;}

a h2 { 
    color: rgba(0, 0, 0, 1);
    transition: color 0.2s ease-in-out;}

a h2:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.2s ease-in-out;}