.close-button {
    padding: 0px!important;
    text-align: right;
    cursor: pointer;}

.prayer-card {
    background: #c7c7c7;
    text-align: center;
    border-radius: 3px;}
    
.prayer-card i {
    font-size: 12px;}