.prayer-card {
    color: #212529;
    text-decoration: none;
    background: #c7c7c7;
    text-align: center;
    border-radius: 3px;
    transition: background 0.2s ease-in-out;}

.prayer-card:hover {
    color: #212529;
    background: #acabab;
    transition: background 0.2s ease-in-out;}

.prayer-card i {
    font-size: 12px;}