.main input,
.main button,
.main button:focus,
.main button:active,
.main .link {
    border-radius: 3px;
    border: solid 1px;
    border-color: #c7c7c7;
    padding: 5px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    color: black;
    background: #f0f0f0;}    

input[type=text] {
    background: white;
    text-align: left;}

.toolbar {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;}

.toolbar h2 {
    margin-right: 20px;
    margin-bottom: 0px;}

.toolbar input, .toolbar button, .toolbar a {
    margin: 0px 5px;
    flex-grow: 1;}

.prayer-body {
    margin: 10px 60px;
    resize: none;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px;
    border-color: #c7c7c7;}

.new-prayer-header {
    color: rgba(14, 14, 27, 0.9);
    font-size: 24px;
    text-align: center;
    padding: 0px 0px 10.5px 0px;
    margin: 0px;}
    
/* Mobile Options */
@media only screen and (max-width: 1000px) {
    .main {
        padding: 0px;}
    
    form {
        width: 100vw;}}

.mobile-add-button {
    position: fixed;
    bottom: 50px;
    right: 30px;
    height: 70px;
    width: 70px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 50%!important;}

.mobile-pray-now-button {
    position: fixed;
    font-size: 80px;
    bottom: 50px;
    height: 70px;
    width: 70px;
    left: 30px;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 50%!important;}