.navbar {
    position: fixed;
    width: 100vw;
    background: rgb(14, 14, 27)!important;
    padding: 0.5rem 2.5rem;}

.btn {
    margin-left: 40px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: #f5f5f5;
    transition: color 0.2s ease-in-out;}

.btn:hover {
    color: #a5a5a5;
    transition: color 0.2s ease-in-out;}

/* If 'center-text' is required again, export it to a global CSS */
 .center-text {
    text-align: center;}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none}
    

@media only screen and (max-width: 992px) {
    .navbar {
        padding: 0.5rem 1rem;}

    .btn {
        padding: 0px;
        margin: 1rem 0;
        width: 100%;
        font-size: 30px;}}