.navbar {
    background: rgba(14, 14, 27, 0.9)!important;
    padding: 0.5rem 2.5rem;}

.btn {
    margin-left: 10px;
    padding: 0px 0px 0px 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #f5f5f5;
    transition: color 0.2s ease-in-out;}

.btn:hover {
    color: #a5a5a5;
    transition: color 0.2s ease-in-out;}

/* If 'center-text' is required again, export it to a global CSS */
 .center-text {
    text-align: center;}
    

@media only screen and (max-width: 980px) {
    .navbar {
        padding: 0.5rem 1rem;}
    .button {
        margin: 1rem;
        font-size: 30px;}}