.main-carousel {
    top: 0;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    background: #212529;}

.top-spacer {
    height: 5vh;
    padding: 5px;
    text-align: right;}

.carousel-close * {
    text-decoration: none;
    color: #ffffff;
    z-index: 1;
    transition: color 0.2s ease-in-out;}

.carousel-close *:hover {
    color: rgb(133, 133, 133);
    transition: color 0.2s ease-in-out;}

.BrainhubCarousel__container button,
.BrainhubCarousel__container button:active,
.BrainhubCarousel__container button:disabled,
.BrainhubCarousel__container button:hover:enabled,
.BrainhubCarousel__arrows,
.BrainhubCarousel__arrowRight,
.BrainhubCarousel__arrowLeft,
.BrainhubCarousel__dot {
    color: white!important;
    outline: none;
    background-color: rgba(0, 0, 0, 0);}

.carousel-loader {
    height: "10";
    width: "10";
    text-align: center;}

.BrainhubCarousel,
.BrainhubCarousel__container,
.BrainhubCarousel__track,
.BrainhubCarousel__trackContainer,
.BrainhubCarousel__track--transition,
.BrainhubCarousel__track--draggable,
.BrainhubCarousel__arrows,
.BrainhubCarousel__arrowRight,
.BrainhubCarousel__arrowLeft {
    text-align: center;
    height: 95%;}