*:focus {outline: none;}

.main-content {
    width: 90%;
    text-align: center;
    margin: 0 auto;}

.login-container {
    color: #e0e0e0;
    background: #a5a5a5;
    margin: 0 auto;
    padding: 5px;
    width: 40vw;
    border-radius: 5px;}

.login-container * {
    border-radius: 2px;}

.login-container button {
        color: #e0e0e0;
        background: rgba(14, 14, 27, 0.9);}

.form-header {
    color: rgba(14, 14, 27, 0.9);
    font-size: 24px;
    padding: 10.5px 0px;
    margin: 0px;}

@media only screen and (max-width: 1000px) {
    .main-content {
        width: 100%!important;}

    .login-container {
        margin: 0 auto;
        padding: 1px;
        width: 60vw;}

    form input, form div, form button {
        padding: 10px;
        margin: 10px 60px;
        border: 0px;}

    form p {
        padding: 0px;
        margin: 0px 60px;}   
}

@media only screen and (max-width: 600px) {
    .main-content {
        width: 100%!important;}

    .login-container {
        margin: 0 auto;
        width: 100vw;}

    form input, form div, form button {
        margin: 10px 20px!important;}
    
    form p {
        padding: 0px;
        margin: 0px 20px!important;}
}

form {display: grid;}

form input, form div, form button {
    padding: 10px;
    margin: 10px 60px;
    border: 0px;}

input[type="submit"]:disabled {
    background: grey;}

.pointer {
    cursor: pointer;
    color: rgba(14, 14, 27, 0.9);
    transition: color 0.2s ease-in-out;}

.pointer:hover {
    cursor: pointer;
    color: #e0e0e0;
    transition: color 0.2s ease-in-out;}

.error-warning {
    color: #c72828;
    font-size: 14px;
    padding: 0px;
    margin: 0px 60px;
    text-align: left;}

.success-text {
    color: #6cbd2b;
    font-size: 14px;
    padding: 0px;
    margin: 0px 60px;
    text-align: center;}