.navbar {
    background: rgba(14, 14, 27, 0.9)!important;
    padding: 0.5rem 2.5rem;}

.btn {
    margin-left: 10px;
    padding: 0px 0px 0px 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #e0e0e0;
    transition: color 0.2s ease-in-out;}

.btn:hover {
    color: #a5a5a5;
    transition: color 0.2s ease-in-out;}
    

@media only screen and (max-width: 1000px) {
    .navbar {
        padding: 0.5rem 1rem;
    }
    .button {
        margin-top: 0.5rem;}}