* {
  text-decoration: none!important;
  -webkit-appearance: none;
  border-radius: 0;}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
} 