* {
  text-decoration: none!important;
  -webkit-appearance: none;
  border-radius: 0;}

@font-face {
  font-family: "default-font";
  src: url("./assets/fonts/weezerfont.ttf");}  

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;}

body {
  margin: 0;
  padding: 0;
  font-family: 'default-font'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 